{:deps {org.clojure/clojure {:mvn/version "1.11.1"}
        org.clojure/tools.cli {:mvn/version "1.0.214"}
        clj-http/clj-http {:mvn/version "3.12.3"}
        hiccup/hiccup {:mvn/version "1.0.5"}
        cheshire/cheshire {:mvn/version "5.11.0"}
        quil/quil {:mvn/version "3.1.0"}}

 ;;; clj-kondo and clj-fmt are available at code-time through clojure-lsp
 ;;; how-to-ns is superseded by clj-kondo, yagni is not helpful
 ;;; LINTERS (run with `clj -M:test:linter`) ;;;
 :aliases {
           :eastwood {:extra-deps {jonase/eastwood {:mvn/version "1.3.0"}}
                      :main-opts ["-m" "eastwood.lint"]}
           :kibit {:extra-deps {jonase/kibit {:mvn/version "0.1.8"}}
                   :main-opts ["-e" "(require,'[kibit.driver,:as,k])(k/external-run,[\"src\"],nil)"]}
           :antq {:extra-deps {com.github.liquidz/antq {:mvn/version "2.2.1011"}}
                      :main-opts ["-m" "antq.core"]}
}}
