{:deps {org.clojure/clojure {:mvn/version "1.11.1"}
        clj-http/clj-http {:mvn/version "3.12.3"}
        org.clojure/tools.build {:mvn/version "0.9.0"}
        org.clojure/tools.cli {:mvn/version "1.0.214"}}
 :paths ["src"]
 :aliases
  {
    :build {:deps {io.github.clojure/tools.build {:git/tag "v0.8.1" :git/sha "7d40500"}}
            :ns-default build}}  ; <-- set build namespace as default
}
